/* global style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
.container{
 max-width: 1600px; 
 margin: auto;  
}


/* nav related style */
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    max-width: 1600px;
    max-height: 92px;
    margin: auto;
    background-color: aquamarine;
}
.menu {
    display: flex;
    gap: 5px;
    align-items: center;
    list-style: none;
}
nav > div> h1 {
    color: white;
    max-height: 32px;
    max-width: 219px;
    margin-top: 30px ;
    margin-bottom: 30px;
}
nav > div> h1> span {
    color: #DB489F;

}